/* src/App.css */
.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 1.5rem;
  padding-left: 20px;
  font-size: xx-large;
}


.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: large;
}
p {
  display: block;
  margin-bottom: 2rem;
  text-align: left;
  font-size: large;
  border: 1px solid rgb(215, 212, 212);
}

input[type="text"],
input[type="number"],
input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 1rem;
}

.result {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #6298ce;
  border: 1px solid #1771cb;
  border-radius: 4px;
}

.img-preview {
  overflow: hidden;
}

.result img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
